%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      %logo

      %nav
        %ul.nav.pull-right
          %li= link_to 'Dictionary', dictionary_all_path
          %li= link_to 'Lessons', lessons_all_path
          %li= link_to 'Translate Me', translate_me_all_path