= link_to 'All Letters', dictionary_all_path
- Letter.all.each do |l|
  = link_to l.name, dictionary_path(l.name)
%br
- PartOfSpeech.all.each do |pos|
  = link_to pos.name, part_of_speech_path(pos.name)
  \|
%br
