- if params[:controller] == 'dictionary'
  %h1 Dictionary
  = render 'shared/letters'
- elsif params[:controller] == 'lessons'
  %h1 Lessons
  Hide translation #{check_box_tag 'hide_transl', 'hide translations', true}
  = render 'shared/lessons'