- if params[:controller] == 'dictionary'
  %h1 Words
  = render 'shared/letters'
- elsif params[:controller] == 'lessons'
  %h1 Lessons
  = render 'shared/lessons'
- elsif params[:controller] == 'translate_me_game'
  %h1 Translate Me
  = render 'shared/games'