= form_for [@category, @new_lesson] do |f|
  %table
    %tr
      %td= f.label :number
      %td= f.text_field :number, value: lesson_number
  .actions
    = f.submit @new_lesson.new_record? ? 'Create Lesson' : 'Update Lesson'

