@import "bootstrap";

body {
  padding-top: 50px;
}

.container{
  max-width: 600px;
  padding: 0px 30px;
}

hr {
    border: none;
    height: 1px;
    //color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

logo{
  float: left;
}
