@import "bootstrap";

$green-color: #008000;
$pale-green-color: #98FB98;
$dark-golden-rod-color: #B8860B;
$khaki-color: #F0E68C;
$salmon-color: #FA8072;
$dark-red-color: #8B0000;

body {
  padding-top: 50px;
}

.notice{
  border: solid $green-color;
  background-color: $pale-green-color;
  text-align: center;
  color: $green-color;
}

.alert{
  border: solid $dark-golden-rod-color;
  background-color: $khaki-color;
  text-align: center;
  color: $dark-golden-rod-color;
}

.error{
  border: solid $dark-red-color;
  background-color: $salmon-color;
  text-align: center;
  color: $dark-red-color;
}

.container{
  max-width: 600px;
}

.entity {
  padding: 10px 20px;
  .word {
    font-weight: bold;
  }
  .part_of_speech {
    font-style: italic;
  }
  .translation {
    display: block;
  }
  .sentence {
    font-style: italic;
    display: block;
  }
}

.lesson {
  padding: 10px 20px;
  .lesson_num {

  }
  .translate_me {

  }
  .words {
    display: block;
  }
  .word {
    font-style: italic;
  }
}

#all_letters {
  display: block;
}

#part_of_speech {
  display: block;

}

.line_odd {
  background-color: #DCDCDC;
}

#bottom_bar {
  display: block;
  padding: 20px 0px;
}

footer {
  border-top: solid #6495ED;
  padding: 30px 0px;
  font-style: italic;
}

.button_to {
  display: inline;
}

.tags {
  display: block;
}